<div class="container">
  <h2>Categorias</h2>
  <button mat-raised-button color="primary" routerLink="/categorias/new">Nova Categoria</button>

  <table mat-table [dataSource]="categorias" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <button matIconButton aria-label="Botão para editar categoria desejada" color="primary" [routerLink]="['/categorias', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton aria-label="Botão para remover categoria desejada" color="warn" (click)="deleteCategoria(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
