<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Compras (Planejamento)</mat-card-title>
      <mat-card-subtitle>Itens abaixo do estoque mínimo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          (click)="generateOrder()"
          [disabled]="selection.isEmpty()"
        >
          Gerar Ordem de Compra
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let element">{{ element.itemCatalogo?.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="estoqueAtual">
          <th mat-header-cell *matHeaderCellDef>Estoque Atual</th>
          <td mat-cell *matCellDef="let element" class="text-warn">
            <strong>{{ element.quantidadeEmEstoque }}</strong>
          </td>
        </ng-container>

        <ng-container matColumnDef="estoqueMinimo">
          <th mat-header-cell *matHeaderCellDef>Mínimo</th>
          <td mat-cell *matCellDef="let element">{{ element.estoqueMinimo }}</td>
        </ng-container>

        <ng-container matColumnDef="sugestaoCompra">
          <th mat-header-cell *matHeaderCellDef>Sugestão de Compra</th>
          <td mat-cell *matCellDef="let element">
            {{ element.estoqueMaximo - element.quantidadeEmEstoque }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row)"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
