<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h2>Bem-vindo</h2>
      <p>Acesse sua conta para continuar</p>
    </div>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <div class="options">
        <mat-checkbox>Lembrar-me</mat-checkbox>
        <a matButton href="#" target="_blank">Esqueceu a senha?</a>
      </div>

      <button class="login-button" type="submit">Entrar</button>

      <div class="footer-link">
        Não tem uma conta? <a href="#">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
