<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ isEditMode ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Ex: Dell" />
          <mat-error *ngIf="form.get('nome')?.hasError('required')"> Nome é obrigatório </mat-error>
          <mat-error *ngIf="form.get('nome')?.hasError('minlength')">
            Nome deve ter pelo menos 3 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailContato" placeholder="Ex: contato@dell.com" />
          <mat-error *ngIf="form.get('emailContato')?.hasError('email')">
            Email inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefoneContato" placeholder="Ex: (11) 99999-9999" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" placeholder="Ex: 00.000.000/0000-00" />
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Salvar
          </button>
          <button mat-button type="button" routerLink="/fornecedores">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
